$desktop: '(min-width: 420px)';
$mobile : '(min-width: 320px) and (max-width: 420px)';


$dark: #1C202D;
$light: #6B7582;
$grey: #A8A7A5;
$brown: #6A483B;
$yellow: #CE922D;


$first: #EAECEC;
$second: #9BA2A2;
$third: #73747A;
$fourth: #727A75;
$last: #292D34;
