.aside {
  @include respond-to($mobile) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 360px;
  }

  @include respond-to($desktop) {
    position: relative;
  }

  height: 100%;
  background-color: $second;
  width: 30%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  color: $last;
  transition: 0.3s ease-in-out;
  z-index: 500;
}

.aside-hidden {
  @include respond-to($mobile) {
    left: -400px;
  }
}

.aside__teams {
  background-color: $third;
  width: 30%;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.aside__users {
  width: 70%;
  min-width: 300px;
}