.channels {
  margin-top: 10px;
}

.channels__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.channels__title h3 {
  margin-left: 30px;
  position: relative;
}

.channels__add-channel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $last;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
  margin-top: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.channel__item {
  font-size: 18px;
  height: 30px;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:before {
    position: absolute;
    content: '#';
    left: 30px;
    top: 5px;
  }

  &:hover {
    background-color: #788686;
  }
}

.channel__message-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: radial-gradient(ellipse closest-corner at center, $second 0%, $last 100%);  margin-right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  transform: scale(0);
  color: black;
  font-size: 14px;
}

.channel__message-count--visible {
  width: 20px;
  height: 20px;
  transform: scale(1)
}

.channel__item--private {
  &:before {
    content: '🔒';
    left: 24px;
    top: 5px;

  }
}

.channel__item label {
  cursor: pointer;
}

.channel__select:checked ~ .channel__item {
  background-color: #5B7272;
}

.channel__select {
  display: none;
}