.channel {
  font-size: 18px;
  height: 30px;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;


  &:before {
    position: absolute;
    content: '#';
    left: 30px;
    top: 5px;
  }

  &:hover {
    background-color: darkslategrey;
  }
}

.channel label {
  cursor: pointer;
}

.channel__select:checked ~ .channel {
  background-color: darkgreen;
}

.channel__select {
  display: none;
}