
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 10vh;
}

.form__content {
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  text-align: center;
}

.form__input-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 100%;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $third;
  padding: 5px 20px;

  text-align: center;
}

.form__input:focus ~ .focus-border,
.has-content.form__input ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.form__input:focus ~ label,
.has-content.form__input ~ label {
  top: -20px;
  font-size: 0;
  color: $second;
  transition: 0.3s;
  letter-spacing: 1px;

}

.form__input  ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $third;
  transition: 0.4s;
}

.form__input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  color: $fourth;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 2px;
  text-align: center;
}

.form__submit {
  border: 1px solid $last;
  color: $last;
  padding: 15px 0;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  width: 230px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $second;
    color: $last;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    color: $fourth;
    opacity: 0.7;

    &:hover {
      background-color: transparent;
    }
  }
}

.form__error {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: darkred;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.form__error--visible {
  opacity: 1;
}

.form__error--full {
  bottom: 25px;
  opacity: 1;
  font-size: 14px;
}

.form__add-channel, .form__add-team  {
  @include respond-to($mobile) {
    max-width: 320px;
  }

  @include respond-to($desktop) {
    width: 400px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__link {
  transition: all 0.3s ease-in-out;
  color: $last;
  &:hover {
    color: $third;
  }
}

.form__button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}



