.main {
  @include respond-to($mobile) {
    min-width: 360px;
  }

  @include respond-to($desktop) {
    min-height: 800px;
  }

  flex-direction: column;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

