.message {
  margin: 20px 0;
}

.message__user {
  font-weight: bold;
}

.message__text {
  font-weight: 300;
  font-size: 16px;
  margin-top: 3px;
}

.message__image {
  max-width: 400px;
  max-height: 200px;
  margin: 10px 0;
}

.message__audio {
  margin-top: 10px;
}

.message__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.message__time {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  align-self: flex-end;
  color: $third;
}