.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 16, 33, 0.4);
  z-index: 1000;
}

.modal__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  max-width: calc(100% - 100px);
  margin-top: 0;
  margin-left: 0;
  position: fixed;
  padding: 32px 62px;
  background: white;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: '';
}

.modal__dialog {
  position: relative;
  outline: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  border-radius: 4px;
}