.sidebar-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-main__team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar-main__title {
  font-size: 26px;
  margin-top: 10px;
  margin-left: 30px;
}

.sidebar-main__members {
  font-size: 15px;
  margin-right: 30px;
}

.sidebar-main__user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
  position: relative;
}

.sidebar-main__user {
  position: relative;
  cursor: pointer;
  &:before {
    position: absolute;
    content: '';
    left: -15px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5b7272;
  }
}

.sidebar-main__invite-button {
  margin-right: 30px;
  border: 2px solid $last;
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.sidebar-main__invite {
  padding: 10px 20px;
  font-size: 12px;
  position: fixed;
  top: 50px;
  left: 500px;
  border: 1px solid black;
  color: black;
  background-color: #5b7272;
}

.sidebar-main__use-invite {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
  padding: 10px 20px;
  border: 2px solid $last;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.sidebar-main__hide-sidebar {
  @include respond-to($mobile) {
    display: block;
  }

  @include respond-to($desktop) {
    display: none;
  }
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 15px;
  &:hover {
    &::before,
    &::after {
      background: $fourth;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $last;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
